body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.ingredient.MuiPaper-rounded {
  text-align: center;
  cursor: pointer;
  padding: 20px;
  border-radius: 100%;
  font-size: 14px;
  max-width: 75px;
  height: 75px;
  display: block;
  border: 5px solid #c1d4cb;
  border-radius: 15px;
  margin: 4px auto 0;
}
.ingredients-grid {
  padding: 20px;
  border-top: 3px solid #c1d4cb;
  border-right: 3px solid #c1d4cb;
  border-bottom: 3px solid #c1d4cb;
}
.ingredient-wrapper {
  font-size: 11px;
  text-align: center;
  margin-bottom: 20px!important;
}
.ingredient {
  text-indent: -10000000px;
  overflow: hidden;
  opacity: .8;
}
.ingredient.selected {
  box-shadow: 0px 1px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 0px 0px rgba(0,0,0,0.12);
  border-radius: 100%;
  opacity: 1;
  border-color: #6095a2;
}
.ingredients-sidebar {
  background: #c1d4cb;
}
.ingredients-sidebar > .MuiGrid-item {
  width: 100%;
}
.ingredients-sidebar p {
  padding: 0 17px;
  color: #6f7d77;
}
.ingredients-sidebar h4 {
  margin-top: 0;
  background: #6095a2;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
  display: block;
  color: #fff;
  font-weight: 100;
}
.ingredients-sidebar ul {
  list-style: none;
  padding-left: 0;
  padding: 0 20px;
}
.ingredients-sidebar ul li {
  margin-bottom: 10px;
  position: relative;
}
span.close {
  position: absolute;
  right: 0;
  cursor: pointer;
  transition: .25s;
}
span.close:hover {
  color: #6095a2;
}
.welcome {
  text-align: center;
  display: block;
  background: #6095a2;
  padding: 15px 10px;
  margin-top: 0;
  color: #fff;
  font-weight: 100;
  font-size: 28px;
}
.recipe-card {
  max-width: 545px;
  margin: 0 auto 40px;
}
.see-recipes {
  display: block!important;
  margin: 30px auto 30px!important;
  font-size: 23px!important;
}
.card-ingredients ul {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}
.card-ingredients ul li {
  margin-bottom: 6px;
}